<!-- nav -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm" *ngIf="currentUser">
  <h5 class="my-0 mr-md-auto font-weight-normal">Booking Grill</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/">Home</a>
    <a class="p-2 text-dark" routerLink="/booking">Booking</a>
    <a class="p-2 text-dark" routerLink="/publish">Publish</a>
    <a class="p-2 text-dark" routerLink="/grills">My Grills</a>
  </nav>
  <a class="btn btn-outline-primary" (click)="logout()">Log out</a>
</div>

<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div>
            <router-outlet></router-outlet>                
        </div>
    </div>
    <hr>
    <footer>
        <div class="footer-copyright text-center py-3">&copy; Rootstack test - 2019 Copyright:
            <a href="https://www.rootstack.com/en"> rootstack.com</a>
        </div>
    </footer>
</div>